<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pokemon Index</title>
</head>
<body>
  <h1>Pokemon Home</h1>

  <a href="/pokemon/new">Create New Pokemon</a>

  <% for(let i = 0; i < pokemon.length; i++){ %>
    <a href="/pokemon/<%=i%>">
      <p><%= i%> Name: <%= pokemon[i].name %></p>
      <img src="<%=pokemon[i].img %>" alt="">
    </a>

    <a href="/pokemon/<%=i%>/edit">Edit</a>
 <% } %>


</body>
</html>