<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('./partials/head.ejs')%>
</head>
<body>
  <h1>Pokemon Home</h1>

  <a href="/pokemon/new">Create New Pokemon</a>

  <% for(let i = 0; i < pokemon.length; i++){ %>
    <a href="/pokemon/<%=i%>">
      <p><%= i%> Name: <%= pokemon[i].name %></p>
      <img src="<%=pokemon[i].img %>" alt="">
    </a>

    <form action="/pokemon/<%=i%>?_method=DELETE" method="POST">
      <input type="submit" value="DELETE">

      <a href="/pokemon/<%=i%>/edit">Edit</a>
    </form>

    
 <% } %>


</body>
</html>