<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('./partials/head.ejs')%>
</head>
<body>
  <h1>Show page</h1>

  <a href="/pokemon">Home</a>

  <p>Name: <%= pokemon.name %></p>
  
  <img src="<%= pokemon.img %>" alt="">
  <h3>Type(s)</h3>
  <p><%=pokemon.type %></p>
  
  <h3>Stats</h3>
  <ul>
    <li>HP:  <%= pokemon.stats.hp %></li>
    <li>Attack:  <%= pokemon.stats.attack %></li>
    <li>Defense:  <%= pokemon.stats.defense %></li>
    <li>Speed:  <%= pokemon.stats.speed %></li>
  </ul>


  <a href="/pokemon/<%= parseInt(pokemon.id) %>">Next Pokemon</a>



  
</body>
</html>